body {
    background-image: linear-gradient(to bottom, #000000, #090809, #110f11, #151417, #19191c, #19191c, #19191c, #19191c, #151417, #110f11, #090809, #000000);
}

#heading,.game {
    color: rgb(155, 155, 155);
    font-family: "Raleway", Sans-serif;
    font-size: 35px;
    text-transform: capitalize;
    margin-left: 37%;
    margin-top: 3%;
}

.game {
    margin-top: -1% !important;
    color: rgb(155, 155, 155);
    margin-left: 47%;
    font-size: 30px;
}

.button {
    outline: none;
	font-family: "Raleway", Sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	background-color: #19191c;
    color: rgb(155, 155, 155);
	letter-spacing: 1px;
    height: 15px;
    width: 80px;
	/* border: 0.1ch solid rgb(155, 155, 155); */
}

.header-container {
    margin-left: 39%;
}
